body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Lobster', cursive;
	font-weight:normal;

}

/* HEADER */
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
	position:relative;
	text-align: center;
}

.containerahmed {
	display: inline-block;
	cursor: pointer;
  }
  
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}
  
  /* Rotate first bar */
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
  /* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}
  
  /* Rotate last bar */
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
  }

.navbar-brand {
    padding-top: 25px;
    padding-bottom: 40px;
}

.navbar-brand h1 {
	font-family: 'Lobster', cursive;
	color: #4a7730;
	font-size: 30px;
	text-transform: uppercase;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    padding-bottom: 20px;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

#nav-list a {
	color: #951C49;
	text-align: center;
	font-size: 25px;;
}

#nav-list a:hover {
	background-color: #8243d6;
}
/* END HEADER */

/* Section */
#home {
	margin-bottom: 30px;
}

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: white;
	text-align: justify;
	margin-bottom: 20px;
	padding: 12px;
	color: black;
}
/* End Section */


@media (max-width: 767px) {
	.row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}
}

@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
    }
    .navbar-brand h1 { /* Restaurant name */
        padding-top: 10px;
        font-size: 4vw; /* 1vw = 1% of viewport width */
    }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }
    /* End Header */

    /* Home Page */
    .menu-item-description {
        text-align: center;;
    }

}
